%header.navbar.navbar-fixed-top
  .container
    = link_to "Polls", '#', id: "logo"
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to "Home",   '/'
        %li= link_to "Help",   '/help'
        %li= link_to "Log in", '#'
